In [63]:
# %pip install -r requirements.txt

In [64]:
import matplotlib.pyplot as plt
import pandas as pd

%matplotlib inline
import seaborn as sns

sns.set_style("whitegrid")

In [65]:
train_df = pd.read_csv("train.csv")
test_df = pd.read_csv("test.csv")

In [66]:
train_df.head()

,id,Marital status,Application mode,Application order,Course,Daytime/evening attendance,Previous qualification,Previous qualification (grade),Nacionality,Mother's qualification,...,Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP,Target
0,0,1,1,1,9238,1,1,126.0,1,1,...,0,6,7,6,12.428571,0,11.1,0.6,2.02,Graduate
1,1,1,17,1,9238,1,1,125.0,1,19,...,0,6,9,0,0.000000,0,11.1,0.6,2.02,Dropout
2,2,1,17,2,9254,1,1,137.0,1,3,...,0,6,0,0,0.000000,0,16.2,0.3,-0.92,Dropout
3,3,1,1,3,9500,1,1,131.0,1,19,...,0,8,11,7,12.820000,0,11.1,0.6,2.02,Enrolled
4,4,1,1,2,9500,1,1,132.0,1,19,...,0,7,12,6,12.933333,0,7.6,2.6,0.32,Graduate

In [67]:
random_state = 42

# Handling Missing Values

In [68]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 76518 entries, 0 to 76517
Data columns (total 38 columns):
 #   Column                                          Non-Null Count  Dtype
---  ------                                          --------------  -----
 0   id                                              76518 non-null  int64
 1   Marital status                                  76518 non-null  int64
 2   Application mode                                76518 non-null  int64
 3   Application order                               76518 non-null  int64
 4   Course                                          76518 non-null  int64
 5   Daytime/evening attendance                      76518 non-null  int64
 6   Previous qualification                          76518 non-null  int64
 7   Previous qualification (grade)                  76518 non-null  float64
 8   Nacionality                                     76518 non-null  int64
 9   Mother's qualification                          76518 non-null  int64
 10  Father's qualification                          76518 non-null  int64
 11  Mother's occupation                             76518 non-null  int64
 12  Father's occupation                             76518 non-null  int64
 13  Admission grade                                 76518 non-null  float64
 14  Displaced                                       76518 non-null  int64
 15  Educational special needs                       76518 non-null  int64
 16  Debtor                                          76518 non-null  int64
 17  Tuition fees up to date                         76518 non-null  int64
 18  Gender                                          76518 non-null  int64
 19  Scholarship holder                              76518 non-null  int64
 20  Age at enrollment                               76518 non-null  int64
 21  International                                   76518 non-null  int64
 22  Curricular units 1st sem (credited)             76518 non-null  int64
 23  Curricular units 1st sem (enrolled)             76518 non-null  int64
 24  Curricular units 1st sem (evaluations)          76518 non-null  int64
 25  Curricular units 1st sem (approved)             76518 non-null  int64
 26  Curricular units 1st sem (grade)                76518 non-null  float64
 27  Curricular units 1st sem (without evaluations)  76518 non-null  int64
 28  Curricular units 2nd sem (credited)             76518 non-null  int64
 29  Curricular units 2nd sem (enrolled)             76518 non-null  int64
 30  Curricular units 2nd sem (evaluations)          76518 non-null  int64
 31  Curricular units 2nd sem (approved)             76518 non-null  int64
 32  Curricular units 2nd sem (grade)                76518 non-null  float64
 33  Curricular units 2nd sem (without evaluations)  76518 non-null  int64
 34  Unemployment rate                               76518 non-null  float64
 35  Inflation rate                                  76518 non-null  float64
 36  GDP                                             76518 non-null  float64
 37  Target                                          76518 non-null  object
dtypes: float64(7), int64(30), object(1)
memory usage: 22.2+ MB

No missing values

# Handling Duplicate Values

In [69]:
train_df.duplicated().sum()

np.int64(0)


No duplicate values

# Looking at column distributions

In [70]:
categorical_columns = [
    "Marital status",
    "Application mode",
    "Application order",
    "Course",
    "Daytime/evening attendance",
    "Previous qualification",
    "Nacionality",
    "Mother's qualification",
    "Father's qualification",
    "Mother's occupation",
    "Father's occupation",
    "Displaced",
    "Educational special needs",
    "Debtor",
    "Tuition fees up to date",
    "Gender",
    "Scholarship holder",
    "International",
    "Curricular units 1st sem (credited)",
    "Curricular units 1st sem (enrolled)",
    "Curricular units 1st sem (evaluations)",
    "Curricular units 1st sem (approved)",
    "Curricular units 1st sem (without evaluations)",
    "Curricular units 2nd sem (credited)",
    "Curricular units 2nd sem (enrolled)",
    "Curricular units 2nd sem (evaluations)",
    "Curricular units 2nd sem (approved)",
    "Curricular units 2nd sem (without evaluations)",
]

numerical_columns = [
    "Previous qualification (grade)",
    "Admission grade",
    "Age at enrollment",
    "Curricular units 1st sem (grade)",
    "Curricular units 2nd sem (grade)",
    "Unemployment rate",
    "Inflation rate",
    "GDP",
]

## Looking at distributions for numerical columns

In [71]:
# for column in numerical_columns:
#     print(column)
#     # # Calculate the IQR (Interquartile Range)
#     # Q1 = train_df[column].quantile(0.25)
#     # Q3 = train_df[column].quantile(0.75)
#     # IQR = Q3 - Q1

#     # # Calculate the bin width using Freedman-Diaconis rule
#     # bin_width = 2 * IQR * (len(train_df[column]) ** (-1/3))

#     fig, axes = plt.subplots(2, 2, figsize=(16, 6))

#     sns.kdeplot(ax=axes[0, 0], x=train_df[column], fill=True)
#     axes[0, 0].set_title(f"PDF: {column}")

#     sns.kdeplot(ax=axes[0, 1], x=train_df[column], hue=train_df["Target"], fill=True)
#     axes[0, 1].set_title(f"PDF: {column} per Target")

#     sns.kdeplot(ax=axes[1, 0], x=train_df[column], fill=True, cumulative=True)
#     axes[0, 0].set_title(f"CDF: {column}")

#     sns.kdeplot(ax=axes[1, 1], x=train_df[column], hue=train_df["Target"], fill=True, cumulative=True)
#     axes[1, 1].set_title(f"CDF: {column} per Target")

#     plt.tight_layout()
#     plt.show()

## Looking at distribution of categorical columns

In [72]:
# for column in categorical_columns:
#     print(column)

#     # Create a figure with two subplots side by side
#     fig, axes = plt.subplots(1, 2, figsize=(16, 6))

#     ratios = train_df[column].value_counts(normalize=True)
#     sns.barplot(ax=axes[0], x=ratios.index, y=ratios.to_list())
#     axes[0].set_title(column)
#     axes[0].tick_params(axis="x", labelrotation=90)
#     axes[0].set_ylim(0, 1)

#     grouped_counts = train_df.groupby("Target")[column].value_counts(normalize=True)
#     flattened_df = grouped_counts.reset_index()
#     flattened_df.columns = ["Target", column, "Proportion"]
#     sns.barplot(
#         x=flattened_df[column], y=flattened_df["Proportion"], hue=flattened_df["Target"]
#     )
#     axes[1].set_title(f"{column} per Target")
#     axes[1].tick_params(axis="x", labelrotation=90)
#     axes[1].set_ylim(0, 1)

#     plt.tight_layout()
#     plt.show()

# Drop unneeded columns, like id

In [73]:
columns_to_drop = ["id"]
train_df.drop(columns=columns_to_drop, inplace=True)

test_df_ids = test_df["id"]
test_df.drop(columns=columns_to_drop, inplace=True)

# Dimensionality Reduction of PCA for the numerical columns

In [74]:
from sklearn.decomposition import PCA
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
# Scale numerical columns
train_numerical_scaled_df = scaler.fit_transform(train_df[numerical_columns])
test_numerical_scaled_df = scaler.transform(test_df[numerical_columns])

# Apply PCA
n_components = 2
pca_column_names = []
# Dynamcially create column names
for i in range(1, n_components + 1):
    pca_column_names.append(f"PCA{i}")

pca = PCA(n_components=n_components, random_state=random_state)
train_pca = pca.fit_transform(train_numerical_scaled_df)
test_pca = pca.transform(test_numerical_scaled_df)

train_pca_df = pd.DataFrame(data=train_pca, columns=pca_column_names)
test_pca_df = pd.DataFrame(data=test_pca, columns=pca_column_names)

# Drop numerical columns
train_df.drop(columns=numerical_columns, inplace=True)
test_df.drop(columns=numerical_columns, inplace=True)

# Concatenate PCA columns
train_df = pd.concat([train_df, train_pca_df], axis=1)
test_df = pd.concat([test_df, test_pca_df], axis=1)

train_pca_df.head()

       PCA1
0  0.988645
1 -0.772896
2 -1.457755
3  1.000003
4  0.766391

# Handling class imbalance

In [75]:
normalized_proportions = train_df["Target"].value_counts(normalize=True)
normalized_proportions

Target
Graduate    0.474163
Dropout     0.330589
Enrolled    0.195248
Name: proportion, dtype: float64

There is imbalance

In [76]:
# Define Pipeline
from imblearn.over_sampling import SMOTE
from imblearn.pipeline import Pipeline as ImbPipeline
from sklearn.ensemble import RandomForestClassifier


over = SMOTE(sampling_strategy="auto", random_state=random_state)
# n_jobs=-1 means more than one processor can be used
model = RandomForestClassifier(random_state=random_state, n_jobs=-1)

pipeline = ImbPipeline(steps=[("over", over), ("model", model)])

X = train_df.drop(columns="Target")
y = train_df["Target"]

In [77]:
from sklearn.model_selection import GridSearchCV, train_test_split
import datetime

param_grid = {
    "model__n_estimators": [5],
    "model__criterion": ["gini", "entropy"],
    "model__max_depth": [5, 7, 10],
    "model__max_features": [None, "sqrt", "log2", 0.5],
    # "model__bootstrap": [True, False],  # Whether bootstrap samples are used when building trees
    # "model__min_samples_split": [2, 5, 10],  # Minimum number of samples required to split an internal node
    # "model__min_samples_leaf": [1, 2, 4],  # Minimum number of samples required to be at a leaf node
    # "model__min_weight_fraction_leaf": [0.0, 0.1],  # Minimum weighted fraction of the sum total of weights required to be at a leaf node
    # "model__max_leaf_nodes": [None, 10, 20, 30],  # Maximum number of leaf nodes in the tree
    # "model__min_impurity_decrease": [0.0, 0.1, 0.2],  # A node will be split if this split induces a decrease of the impurity greater than or equal to this value
    # "model__class_weight": [None, "balanced"],  # Weights associated with classes
}

grid_search = GridSearchCV(
    estimator=pipeline, param_grid=param_grid, scoring="accuracy", cv=5, verbose=True
)


X = train_df.drop(columns="Target")
y = train_df["Target"]

X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.2, random_state=42)

grid_search.fit(X_train, y_train)

# Print the best parameters and best score
print("Best parameters found: ", grid_search.best_params_)
print("Best accuracy: ", grid_search.best_score_)


# X_test = test_df.drop(columns="Target")
# y_test = test_df["Target"]

# Evaluate on the test set
best_model = grid_search.best_estimator_
test_accuracy = best_model.score(X_val, y_val)
print("Test accuracy: ", test_accuracy)

test_predictions = best_model.predict(test_df)

prediction_df = pd.DataFrame({"id": test_df_ids, "Target": test_predictions})

# Get the current UTC datetime
utc_now = datetime.datetime.now(datetime.timezone.utc)

# Format the datetime into a string
utc_string = utc_now.strftime("%Y-%m-%dT%H:%M:%S")

# Save the DataFrame to a CSV file
prediction_df.to_csv(f"test_predictions_{utc_string}.csv", index=False)

# # Print the test accuracy
# test_accuracy = accuracy_score(y_test, test_predictions)
# print("Test accuracy: ", test_accuracy)

Fitting 5 folds for each of 24 candidates, totalling 120 fits
Best parameters found:  {'model__criterion': 'entropy', 'model__max_depth': 10, 'model__max_features': 0.5, 'model__n_estimators': 5}
Best accuracy:  0.8094226798150499
Test accuracy:  0.8088734971249346